<h2>Add Attendance</h2>
<form [formGroup]="attendanceForm" (ngSubmit)="onSubmit()">
  <label for="date">Date</label>
  <input type="date" id="date" formControlName="date" />
  <label for="checkIn">checkIn</label>
  <input type="text" id="checkIn" formControlName="checkIn" />
  <label for="checkOut"> checkOut</label>
  <input type="text" id="checkOut" formControlName="checkOut" />
  <button type="submit" [disabled]="attendanceForm.invalid">Submit</button>
</form>

<h2>Attendance Records</h2>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Check In</th>
      <th>Check Out</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of attendances">
      <td>{{ record.date }}</td>
      <td>{{ record.checkIn }}</td>
      <td>{{ record.checkOut }}</td>
    </tr>
  </tbody>
</table>
